@import "animation";
@import "compass/css3/filter";
@import "compass/css3/transform";

@include keyframes(colour) {
	0%{
		@include filter(grayscale(0));
	}
	20% {
		@include filter(grayscale(0));
	}
	21% {
		@include filter(grayscale(100%));
	}
	100% {
		@include filter(grayscale(0%));
	}
}

@include keyframes(spin) {
	0% {
		@include rotateY(0);
	}
	20% {
		@include rotateY(180deg);
	}
	40% {
		@include rotateY(360deg);
	}
	100% {
		@include rotateY(360deg);
	}
}

body, html {
	height: 100%;
	background-color: #000;
	overflow: hidden;
}

body, ul, li, img {
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
	margin: 0 auto;
}

li {

	float: left;
	height: 150px;
	overflow: hidden;

}

li.rotate {

	@include transform-origin(50%, 50%);
	@include backface-visibility(visible);
	@include animation-name(spin, colour);
	@include animation-duration(1s);
	@include animation-iteration-count(1);
	@include animation-timing-function(ease);

}